<settings>
  <!-- <mirrors>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://192.168.100.50:8081/repository/maven-central/</url>
    </mirror>
  </mirrors> -->
  <servers>
    <server>
      <id>nexus</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <!-- <server>
      <id>nexus-releases</id>
      <username>admin</username>
      <password>admin123</password>
    </server> -->
</servers>
</settings>
